.SearchBar {
  display: flex;
  align-items: center;
  min-width: 280px;
  max-height: 48px;
  margin: 0;
  padding: 0;

  .search-button {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e4ecf2;
    border-radius: 12px;
    padding: 3px;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    .search-input {
      cursor: pointer;
      border: none;
      font-size: 16px;
      background: transparent;
      padding-left: 8px;
      font-size: 14px;

      &:focus {
        border: none;
        outline: none;
      }
    }

    .search-ico {
      width: 40px;
      height: 40px;
    }
  }
}
