.SearchBar {
  display: flex;
  align-items: center;
  width: 280px;
  height: 48px;
  margin: 0;

  .button-search {
    background-color: #ffffff;
    border: 1px solid #e4ecf2;
    border-radius: 12px;
    padding: 3px;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    .search-input {
      cursor: pointer;
      border: none;
      font-size: 16px;
      background: transparent;
      padding-left: 8px;
      &:focus {
        border: none;
        outline: none;
      }
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}
